body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #31afb4; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
 /*  .logo{
    padding-top: 0%;
    max-width:140px;
    max-height:150px;
    margin-left: 50px;
    width: auto;
    height: auto;  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 80px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  ul.nav.navbar-nav.navbar-right {
    display: contents;
  } */

  header{
    background-color: #f8f8f8; /* White */
    padding: 20px 0;

  }

.navbar{
  position: absolute;
  display: inline-block;
  top: 110px;
  right: 0;
  margin: 0 0 0 15px;
}

.topo{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.navbar-default{
  background-color: none;
}

@media (max-width: 800px){
  .logo{
    display: none;  
  }
}
